.about-section {
  padding: 5.6rem 0 4rem;
  overflow: hidden;
}

.about-section-heading {
  font-family: "PoppinsBold";
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--section-heading-text);
  white-space: nowrap;
}

.about-section-heading.in-view {
  animation: aboutHeading 6s linear infinite;
}

@keyframes aboutHeading {
  0% {
    transform: translate(-75%, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

.about-section-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.2rem;
  margin: 1.8rem 0 0;
}

.about-desc {
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin: auto;
}

.about-image {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
}

.skills-group {
  margin: 0 0 0 1.5rem;
  letter-spacing: 2px;
  color: var(--lighter-text-color);
}

.skills-heading {
  font-family: "SFMonoBold";
  font-size: 1.8rem;
  margin: 3rem 0 1.2rem;
}

.skills-intro {
  font-size: 1.1rem;
  color: var(--text-color);
  margin: 0 0 1.6rem;
  letter-spacing: 1px;
}

.skill {
  font-family: "SFMonoRegular";
  display: flex;
  align-items: center;
}

.skill:not(:last-child) {
  margin-bottom: 0.9rem;
}

.skill-arrow {
  margin: 0 0.8rem 0 0;
}

@media screen and (min-width: 31.25rem) {
  .about-image {
    width: 16.5rem;
    height: 16.5rem;
  }

  .skills-group {
    width: 80%;
    margin: auto;
    letter-spacing: 2px;
    color: var(--lighter-text-color);
  }
}

/* Style for screen sizes larger than 859px */
@media screen and (min-width: 53.7rem) {
  .about-section-heading {
    font-size: 5rem;
  }

  .about-section-heading.in-view {
    animation: aboutHeading 7s linear infinite;
  }

  @keyframes aboutHeading {
    0% {
      transform: translate(-45%, 0);
    }
    100% {
      transform: translate(100%, 0);
    }
  }

  .about-section-grid {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    grid-template-areas:
      "details image"
      "skill skill";
  }

  .about-desc:first-child {
    margin-top: 0.5rem;
  }

  .about-details {
    padding-left: 1rem;
    grid-area: details;
  }

  .image-wrapper {
    grid-area: image;

    border-radius: 0;
  }

  .about-image {
    display: block;
    width: 17rem;
    height: 17rem;
    transform: scale(1);
    border-radius: 50%;
  }

  .skills-group {
    grid-area: skill;
  }
}
