/* Header Styles */
.header {
  font-family: "SFMonoRegular";
  position: fixed;
  z-index: 2;
  width: 90%;
  max-width: 72rem;
  background-color: var(--bg-color);
}

.logo-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.6vh;
  margin: 1.5rem 0 1rem;
}

.logo {
  position: relative;
  color: var(--pry-color);
  z-index: 3;
}

/* Nav styles */
.desktop-nav {
  display: none;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-bg-color);
  width: 100%;
  min-height: 100vh;
  transform: translateY(-100%);
  transition: all calc(var(--transition-delay) * 1.5) ease-in-out;
  z-index: 2;
}

.mobile-nav.active {
  transform: translateY(0%);
}

.mobile-nav p {
  font-size: 1.6rem;
  padding: 0 2rem;
  text-align: center;
  line-height: 2;
  font-family: PoppinsSemiBold;
  letter-spacing: 1px;
  overflow: hidden;
}

.mobile-nav-link {
  position: relative;
  display: inline-block;
  font-family: SFMonoMedium;
}

.mobile-nav-link::before {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  width: 100%;
  height: 0.07rem;
  background-color: var(--lighter-text-color);
}

.mobile-nav-span {
  display: inline-block;
}

.nav-link {
  position: relative;
  font-size: 1.8rem;
  padding: 1rem 0;
  opacity: 0;
  transition: all var(--transition-delay) ease-in-out;
}

.nav-link-btn {
  font-family: "SFMonoRegular";
  background-color: transparent;
  border: 1px solid var(--pry-color);
  border-radius: 0.5rem;
  color: var(--pry-color);
  font-size: 1.5rem;
  padding: 1.1rem 1.3rem;
}

.nav-link-btn:hover {
  background-color: var(--pry-color);
  border-bottom: 1px solid var(--pry-color);
  color: var(--bg-color);
}

.nav-link:not(:last-child) {
  margin-bottom: 1.6rem;
}

@keyframes navLink {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hamburger menu styles */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 2.4rem;
  height: 1.6rem;
  background-color: transparent;
  border: none;
  z-index: 2;
  overflow: hidden;
  pointer-events: all;
}

.line {
  display: inline-block;
  height: 0.22rem;
  background-color: var(--pry-color);
  border-radius: 1.5rem;
  transition: all calc(var(--transition-delay) * 1.6) ease-in-out;
  pointer-events: none;
}

.line1 {
  width: 75%;
}

.line2 {
  width: 100%;
}

.line3 {
  width: 50%;
}

/* When nav is opened */
.hamburger.open .line1 {
  width: 100%;
  transform: rotate(-45deg) translate(-5px, 10px);
}

.hamburger.open .line2 {
  opacity: 0;
  transform: translateX(100%);
}

.hamburger.open .line3 {
  width: 100%;
  transform: rotate(45deg) translate(-5px, -10px);
}

/* Style for screen sizes larger than 859px */
@media screen and (min-width: 53.7rem) {
  /* Nav styles */
  .nav {
    background-color: transparent;
    transform: translate(0);
    transition: all var(--transition-delay) ease-in-out;
    overflow: hidden;
  }

  .desktop-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .mobile-nav {
    display: none;
  }

  .logo-nav-wrapper {
    height: 10vh;
  }

  .nav-link {
    font-size: 1.15rem;
    padding: 0.4rem 0;
    opacity: 1;
    margin: 0 0.4rem;
  }

  .nav-link:not(:last-child):before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 0.1rem;
    background-color: #83eeffb7;
    transition: all var(--transition-delay) ease-in-out;
  }

  .nav-link:hover::before {
    width: 100%;
  }

  .nav-link-btn {
    padding: 0.8rem 1rem;
  }

  .nav-link:not(:last-child) {
    margin-bottom: 0;
    margin-right: 2.5rem;
  }

  /* Hamburger menu styles */
  .hamburger {
    display: none;
  }
}
