#projects {
  padding: 3rem 0 0;
}

.projects-heading-group {
  display: flex;
  align-items: center;
}

.projects-section-heading {
  font-family: "PoppinsBold";
  text-transform: uppercase;
  color: var(--section-heading-text);
  padding: 0 1.5rem 0 0;
}

span.featured {
  display: block;
  font-size: 1.5rem;
  letter-spacing: 9px;
}

span.projects {
  font-size: 2.6rem;
  line-height: 1.3;
}

.projects-heading-section .divider-line {
  width: 100%;
}

.projects-subtitle {
  text-align: center;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin: 2rem 0 3.2rem;
}

.project-wrapper {
  margin-bottom: 3rem;
}

.project-details-group {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 1.3rem;
  color: var(--text-color);
}

.project-details {
  padding: 3rem 1.5rem 2.5rem;
}

.project-details-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
  z-index: -1;
}

.projects-details-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(131, 238, 255, 0.05);
  z-index: -1;
}

.project-title {
  position: relative;
  display: inline-block;
  font-size: 1.43rem;
  color: var(--lighter-text-color);
  letter-spacing: 1px;
  font-family: "SFMonoBold";
}

.project-title::before {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  width: 25%;
  height: 0.15rem;
  background-color: #83eeffb7;
  transition: all var(--transition-delay) ease-in-out;
}

.project-title:hover::before {
  width: 100%;
}

.project-desc {
  line-height: 1.7;
  margin: 2rem 0 0.5rem;
}

.read-more-btn {
  display: inline-block;
  font-size: 1.1rem;
  color: var(--read-more-btn);
  padding: 0 0 2rem;
}

.tech-stack span {
  display: inline-block;
  margin-right: 1.5rem;
  color: var(--lighter-text-color);
  font-family: "SFMonoMedium";
}

.project-links {
  margin: 2.5rem 0 0;
}

.project-links a svg {
  width: 1.875rem;
  height: 1.875rem;
}

.live-link:hover svg path {
  fill: none;
  stroke: var(--pry-color);
}

.project-image {
  display: none;
}

.go-back-btn {
  position: absolute;
  top: -3rem;
  left: 5%;
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  border: none;
}

.go-back-btn svg {
  fill: var(--lighter-text-color);
}

.project-detail-section {
  width: 90%;
  max-width: 72rem;
  margin: 5.5rem auto 0;
  overflow: hidden;
}

.project-detail-title {
  color: var(--lighter-text-color);
}

.project-detail-desc {
  padding: 1.3rem 0;
}

.project-details-text p {
  padding: 0.8rem 0;
}

.links-heading {
  font-size: 1.3rem;
}

.links-group li {
  margin: 0.5rem 0 0;
}

.project-detail-image-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
  overflow-x: scroll;
  background-color: var(--lighter-text-color);
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
}

.project-detail-image {
  width: 100%;
  border-radius: 0.5rem;
}

@media screen and (min-width: 31.25rem) {
  .divider-line {
    width: 100%;
  }
}

/* Style for screen sizes larger than 790px */
@media screen and (min-width: 49.375rem) {
  .projects-heading-group {
    flex-direction: row-reverse;
    text-align: right;
  }

  .projects-section-heading {
    padding: 0 0 0 2rem;
  }

  span.featured {
    font-size: 2.3rem;
    letter-spacing: 11px;
  }

  span.projects {
    font-size: 5rem;
    line-height: 1.3;
  }

  .projects-subtitle {
    font-size: 1.7rem;
    margin: 3rem 0 5rem;
  }
}

/* Style for screen sizes larger than 860px */
@media screen and (min-width: 53.75rem) {
  .divider-line {
    width: 100%;
  }

  .project-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding: 0 1rem;
    margin-bottom: 7rem;
  }

  .project-wrapper:nth-child(even) .project-image {
    grid-row: 1;
  }

  .project-details-group {
    overflow: hidden;
    border-radius: 0;
  }

  .project-details-image,
  .projects-details-image-overlay {
    display: none;
  }

  .project-details {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }

  .project-title {
    font-size: 1.9rem;
  }

  .project-image {
    position: relative;
    display: grid;
    border-radius: 2rem;
    overflow: hidden;
  }

  .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(131, 238, 255, 0.25);
    z-index: 1;
  }
}
