/* SF Mono Font Type */
@font-face {
  font-family: "SFMonoRegular";
  src: url(fonts/SFMono/SF-Mono-Regular.otf) format("opentype");
}

@font-face {
  font-family: "SFMonoMedium";
  src: url(fonts/SFMono/SF-Mono-Medium.otf) format("opentype");
}

@font-face {
  font-family: "SFMonoBold";
  src: url(fonts/SFMono/SF-Mono-Bold.otf) format("opentype");
}

/* Poppins Font Type */
@font-face {
  font-family: "PoppinsRegular";
  src: url(fonts/Poppins/Poppins-Regular-400.ttf) format("truetype");
}

@font-face {
  font-family: "PoppinsMedium";
  src: url(fonts/Poppins/Poppins-Medium-500.ttf) format("truetype");
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url(fonts/Poppins/Poppins-SemiBold-600.ttf) format("truetype");
}

@font-face {
  font-family: "PoppinsBold";
  src: url(fonts/Poppins/Poppins-Bold-700.ttf) format("truetype");
}

:root {
  --bg-color: #08101d;
  --nav-bg-color: #010812;
  --text-color: #8892b0;
  --lighter-text-color: #ccd6f6;
  --pry-color: #83eeff;
  --hero-heading-text: #d0d5e3;
  --section-heading-text: rgba(131, 238, 255, 0.4);

  --font-size: 1.125rem;
  --desktop-font-size: 1.2rem;

  --transition-delay: 300ms;
}

/* General Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "PoppinsMedium", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--font-size);
  overflow-x: hidden;
}

body.noscroll {
  overflow-y: hidden;
}

a {
  color: var(--lighter-text-color);
  text-decoration: none;
}

button {
  cursor: pointer;
}

p {
  line-height: 1.6;
}

li {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 72rem;
  margin: 0 auto;
}

.social-link {
  display: inline-block;
}

.social-link:not(:last-child) {
  margin-right: 2rem;
}

.social-link svg,
.social-link svg path {
  transition: all calc(var(--transition-delay) / 1.5) ease-in-out;
}

.social-link:hover svg path {
  fill: var(--pry-color);
}

.social-link:hover svg {
  transform: translateY(-19%);
}

.divider-line {
  width: 42%;
  height: 0.065625rem;
  background-color: var(--pry-color);
}

/* Style for screen sizes larger than 790px */
@media screen and (min-width: 49.375rem) {
  .social-link:not(:last-child) {
    margin-right: 3rem;
  }

  .social-link svg {
    width: 2.15rem;
    height: 2.15rem;
  }
}
